*{
  box-sizing: border-box;
  font-family: "Arial", "Helvetica Neue", sans-serif;
  text-align: center;
  font-family: arial;
  }
h2{
  font-size: 40px;
  font-weight: 800;
  color: white;
  background-color: black;
  /*text-align: center;*/
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
nav li{
  display: inline-block;
  background-color: grey;
  padding: 15px ;
  color: white;
  font-weight: bold;
}
ul{
  text-align: center;
}
h3{
  background-color: rgb(90,210,180);
  padding: 15px 15px;
  margin: 15px;
}
.six{
  font-weight: 700;
  font-size: 25px;
}
.container{
  padding: 0 25px;
  margin: auto;
  max-width: 910px;
}
.menu{
  column-count: 3;
  display: inline-block;
  margin: 10px 1px;
  /*margin-left: 1px;
  margin-bottom: 10px;*/
}
h4{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 20px;
  margin-top: 5px;
}
.opt{
  background-color: rgb(230, 190, 30);
  text-align: center;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-botton: 5px;
  margin-bottom: 15px;
}
